*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;


    /*border: 1px solid black;*/
}


header{
    position: fixed;
    top: 0px;
    left: 0px;
    color: rgb(158,158,158);
    background-color: #F2F2F2;
    height: 70px;
    width: 100%;
}

.sandwitchmenue{
    cursor: pointer;
    float: left;
    height: 70px;
    padding: 25px;

}

.headertitel{
    float: left;
}
.headertitel a{
    text-decoration: none;
    color: #585858;
    font-size:1.4em;
    font-family: Roboto;
    height: 70px;
    display: table-cell;
    vertical-align: middle;  

}

.menuenormal{
    float: right;
    padding-left: 50px;
    padding-right: 50px;
}

.hauptmenuepunkt{
    float: left;
    cursor: pointer;
    height: 70px;
    line-height: 70px;
    padding-left: 15px;
    padding-right: 15px;
}

.hauptmenuepunkt:hover{
    color: black;
}

.class_dunkel{
    color: black;
}

main{
    margin-top: 70px;
}

.reiterinhalt{
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 0px 0px 0px gray;
}

.reitertext{
    float: left;
    width: 100%;
    color: gray;
    padding: 20px;
    text-align: justify;
}

.reitertext ul{
    font-weight: 300;
    letter-spacing: 0px;
    line-height:  1.5;

    padding-left: 35px;
    margin-bottom: 20px;
}


h1{
    font-weight: 300;
    margin-bottom: 20px;
}
h2{
    font-weight: 300;
    margin-bottom: 15px;
}

p{
    margin-bottom: 20px;
    font-weight: 300;
    letter-spacing: 0px;
    line-height:  1.5;
    font-size: 0.95em;
}

footer{
    float: left;
    width: 100%;
    margin-top: 40px;
    background-color: #212121;

}

.oberfooter{
    float: left;
    width: 100%;
    background-color: #1C1C1C;
}


.unterfooter{    
    float: left;
    width: 100%;
    background-color: black;

}

.oberfooterInhalt{
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    color: #848484;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;

}

.bewertung{
    float: left;
    width:200px;

}

.bewertung_sterne{
    float: left; 
    text-align: left; 
    padding: 0px;
}

.bewertenButton{

    background-color: #AEB404;
    color: #585858;
    border:0px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:0.95em;
    padding: 10px;
    text-decoration:none;
    border-radius: 1px;
    text-align: center;


}

.bewertenButton:hover{
    background-color:#F3F781;
    color: #868A08;

}

.bewertenButton:active{
    position:relative;
    top:1px;
}


.unterfooterInhalt{
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    color: #848484;
    line-height: 50px;
    font-size: 12px;

    padding-left: 20px;
    padding-right: 20px;
}

.unterfooterMenuepunkt{
    cursor: pointer;
}


.queickmenueleft{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #F2F2F2;
    border-right: 1px solid gray;
    display: none;
}
.logo_quickmenue{
    padding: 20px;
    background-color: white;
    float: left;
    width: 100%;
}

.cl_h1quickmenue{
    padding:  10px;
    text-align: center;
    color: white;
    background-color: #585858;
}

.queickmenueleft ul{
    list-style-type: none;
    float: left;
    color: black;
    width: 100%;
}

.queickmenueleft ul li{
    line-height: 1;
    cursor: pointer;
    width: 100%;
    padding: 20px;
    padding-left: 40px;
}

.queickmenueleft ul li:hover{
    line-height: 1;
    cursor: pointer;
    background-color: #cfd8dc;
}

.overlayer{
    display: none;
    position: fixed;
    background-color: gray;
    height: 100vh; /* For 100% screen height */
    width:  100vw; /* For 100% screen width */
    opacity: 0.7;
}

form{

}

form p{
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
}

form input{
    margin-top: 8px;
    padding: 9px;
    border:2px solid #21610B;
    border-radius: 4px;

    font-family: bodytext, Times, serif;
}


.input-group{
    float: left; width: 100%;
}

button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px;

    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}

.class_kontaktEingabe{
    resize: vertical;
    border: 1px solid #A4A4A4;
    border-radius: 4px;
    box-shadow:         0px 0px 7px #D8D8D8;
    float: left; 
    width: 100%; 
    margin-top: 8px; 
    padding: 9px;
    font-family: bodytext, Times, serif;
    font-size: 13px;
    height: 250px;
    box-sizing: border-box;
}

.submitButtonKontakt{

    background-color: #21610B;
    color: white;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:20px;

    padding:20px 40px;
    width: 100%;
    text-decoration:none;
}

.submitButtonKontakt:hover{
    background-color:#4CAF50;
    color: #21610B;
    color: white;
}

.submitButtonKontakt:active{
    position:relative;
    top:1px;
}

.submitButtonFeedback{

    background-color: #868A08;
    color: white;
    display:inline-block;
    border: 1px solid #868A08;
    cursor:pointer;
    font-family:Arial;
    font-size:20px;

    padding:20px 40px;
    width: 100%;
    text-decoration:none;
}

.submitButtonFeedback:hover{
    background-color:yellow;
    border: 1px solid #868A08;
    color: black;

}

.submitButtonFeedback:active{
    position:relative;
    top:1px;
}


.textboxstil{
    font-size: 20px;
    border: 1px solid;
    font-family: unset;
    margin-bottom: 10px;
}

::-webkit-input-placeholder { /* Edge */
    color: #ededed;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ededed;
}

::placeholder {
    color: #D8D8D8;
}

.cl_margin_bewertung_radiobuttin{
    margin-right: 15px;
}



@media screen and (max-width: 1200px) {
    header{
        position: fixed;
        top: 0px;
        left: 0px;
        color: rgb(158,158,158);
        background-color: #F2F2F2;
        height: 60px;
        width: 100%;
    }

    .sandwitchmenue{
        cursor: pointer;
        float: left;
        height: 60px;
        padding: 20px;

    }
    .headertitel a{
        text-decoration: none;
        color: #585858;
        font-size:1.4em;
        font-family: Roboto;
        height: 60px;
        display: table-cell;
        vertical-align: middle;  
    }

    .menuenormal{
        display: none;

    }
    main{
        margin-top: 50px;
    }

    .reiterinhalt{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        box-shadow: 0px 0px 0px gray;
    }

    .reiterbild{

    }

    .reitertext{
        float: left;
        width: 100%;
        text-align: justify;
        float: left;
        color: gray;
        padding: 20px;
    }

    h1{
        font-weight: 300;
        margin-bottom: 20px;
    }
    h2{
        font-weight: 300;
        margin-bottom: 15px;
    }

    p{
        font-weight: 300;
        margin-bottom: 10px;
        letter-spacing: 0px;
        line-height:  1.5;
        font-size: 0.95em;
    }

    footer{
        margin-top: 40px;
        background-color: #212121;
        height: 200px;
    }

    .oberfooterInhalt{
        float: left;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        color: #848484;
        padding: 20px;
        padding-top: 60px;
        padding-bottom: 60px;

    }
    .unterfooterInhalt{
        float: left;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        color: #848484;
        line-height: 50px;
        font-size: 12px;

        padding-left: 20px;
        padding-right: 20px;
    }

    .bewertung_sterne{
        float: left; 
        text-align: left;
        padding: 0px;
    }

    .queickmenueleft{
        position: fixed;
        width: 250px;
        height: 100%;
        background-color: #F2F2F2;
    }

    .queickmenueleft ul{
        list-style-type: none;
        color: black;
        width: 100%;
    }

    .queickmenueleft ul li{
        line-height: 1;
        cursor: pointer;
        width: 100%;
        padding: 20px;
    }

    .queickmenueleft ul li:hover{
        line-height: 1;
        cursor: pointer;
        background-color: #cfd8dc;
    }

}


