<div class="titelbild">

</div>
<div class="reiterinhalt">
    <div class="reitertext">

        <h1>Bewerten Sie unsere Lehrer ganz einfach und ehrlich</h1>
        <p>
            Bitte nehmen Sie sich Zeit und bewerten Sie unsere Lehrer. Das hilft uns,
            die Qualität ständig zu verbessern und unseren Kunden dadurch mehr Vertrauen zu schaffen.
        </p>


        
        <form action="php-funktionen/emailAbsenden.php" method="post" style="float: left; width: 100%;box-sizing: border-box;">
            <h2>Bewertungsformular</h2>
            <p>Welchen Nachhilfelehrer hatten Sie?</p>
            <select id="lehrer" style="height: 39px; font-size: 1.5em; margin-top: 20px;margin-bottom: 20px;" name="nm_lehrer">
                <option value="andyshamoon">Hr. Andy Shamoon</option>
                <option value="sarahshamoon">Fr. Sarah Shamoon</option>
                <option value="frankerlich">Hr. Frank Erlich</option>
            </select> 
            <p>Wie fanden Sie die Leistungen des Nachhilfelehrers?</p>
            <div style="float: left; width: 100%;  margin-bottom: 20px; margin-top: 20px;">
                <input type="radio" name="in_radio_sehr_gut"> <span class="cl_margin_bewertung_radiobuttin"> sehr gut </span>
                <input type="radio" name="in_radio__gut"> <span class="cl_margin_bewertung_radiobuttin"> gut </span>
                <input type="radio" name="in_radio_mittel"> <span class="cl_margin_bewertung_radiobuttin"> mittel </span>
                <input type="radio" name="in_radio_weniger_gut"> <span class="cl_margin_bewertung_radiobuttin"> weniger gut </span>
                <input type="radio" name="in_radio_schlecht"> <span class="cl_margin_bewertung_radiobuttin"> schlecht </span>
            </div>
            
            <p>Sie können Ihr Feedback auch ohne Angabe Ihres Namens und Emailadresse, vollkommen anonym ausfüllen.</p>
            <input class="textboxstil" autofocus="" type="text" name="in_vorname" placeholder="Vorname"  ><br>
            <input class="textboxstil" type="text" name="in_nachname" placeholder="Nachname"><br>
            <input class="textboxstil"type="email" name="in_email" placeholder="Email" ><br>
            <textarea class="class_kontaktEingabe textboxstil" name="in_nachricht" placeholder="Nachricht" ></textarea>
            <input class="submitButtonFeedback" type="submit" value="Abschicken">
        </form>    
    </div>
</div>
