<div class="titelbild">
    <img class="article-image" src="img/kontakt.jpg" style="width: 100%; height: auto">
</div>
<div class="reiterinhalt">
    <div class="reitertext">

        <h1>Anliegen? Konaktieren Sie uns!</h1>
        <p>
            Wir sind für Sie unter der Woche zwischen 8 und 17 Uhr erreichbar.
        </p>

        <p>
            <i style="text-align: center">Ansprechpartner: </i>
            <span>Hr. Andy Shamoon</span>
        </p>
        <p>
            <i style="text-align: center">Ort: </i>
            <span>Antonsplatz 18/1/22, 1100 Wien</span>
        </p>
        <br/>
        <p>
            <i style="text-align: center">Email: </i>
            <a href="mailto:nachhilfe.shamoon@gmail.com" title="Start">nachhilfe.shamoon@gmail.com</a>
        </p>
        <p>
            <i style="text-align: center">Telefon:</i>
            <a href="tel://06704025953">+436704025953</a>
        </p>

        <iframe style="float: left; width: 100%; height: 350px; margin-bottom: 30px; margin-top: 30px;;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d791.0884247329328!2d16.37659052647957!3d48.17013030805116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476da9c736c571eb%3A0xf21a32c553c775!2sAntonspl.%2018%2C%201100%20Wien!5e0!3m2!1sde!2sat!4v1622036507069!5m2!1sde!2sat" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">

        </iframe>

        <h2>Kontaktformular</h2>
        <p>Wünsche, Beschwerden, Angelegenheiten kannst du mir gerne senden.</p>
        <form action="php-funktionen/emailAbsenden.php" method="post" style="float: left; width: 100%;box-sizing: border-box;">
            <input class="textboxstil" autofocus="" type="text" name="in_vorname" placeholder="Vorname" required ><br>
            <input class="textboxstil" type="text" name="in_nachname" placeholder="Nachname"><br>
            <input class="textboxstil"type="email" name="in_email" placeholder="Email" required="" ><br>
            <textarea class="class_kontaktEingabe textboxstil" name="in_nachricht" placeholder="Nachricht" required></textarea>
            <input class="submitButtonKontakt" type="submit" value="Abschicken">
        </form>    
    </div>
</div>
