
<div class="reiterinhalt">
    <div class="reitertext">
        <h1>      Erklärung zur Informationspflicht      </h1><br>      
        <p align="center">      <strong>Datenschutzerklärung</strong>      </p>      
        <p>      In folgender Datenschutzerklärung informieren wir Sie über die wichtigsten Aspekte der Datenverarbeitung      
            im Rahmen unserer Webseite. Wir erheben und verarbeiten personenbezogene Daten nur auf Grundlage der gesetzlichen      
            Bestimmungen (Datenschutzgrundverordnung, Telekommunikationsgesetz 2003).      </p>      
        <p>      Sobald Sie als Benutzer auf unsere Webseite zugreifen oder diese besuchen wird Ihre IP-Adresse, 
            Beginn sowie Beginn und Ende der Sitzung erfasst. Dies ist      
            technisch bedingt und stellt somit ein berechtigtes Interesse iSv Art 6 Abs 1 lit f DSGVO.      </p>      

        <h2>Kontakt mit uns</h2>      

        <p>Wenn Sie uns, entweder über unser Kontaktformular auf unserer Webseite, oder per Email kontaktieren,      
            dann werden die von Ihnen an uns übermittelten Daten zwecks Bearbeitung Ihrer Anfrage oder für den Fall von weiteren      
            Anschlussfragen für sechs Monate bei uns gespeichert. Es erfolgt, ohne Ihre Einwilligung, keine Weitergabe Ihrer übermittelten Daten.</p>

        <h2>Cookies</h2>      
        <p>Unsere Website verwendet so genannte Cookies.      
            Dabei handelt es sich um kleine Textdateien, die mit Hilfe des Browsers auf Ihrem Endgerät abgelegt werden.      
            Sie richten keinen Schaden an. Wir nutzen Cookies dazu, unser Angebot nutzerfreundlich zu gestalten.      
            Einige Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Sie ermöglichen es uns,      
            Ihren Browser beim nächsten Besuch wiederzuerkennen.      
            Wenn Sie dies nicht wünschen, so können Sie Ihren Browser so einrichten, dass er Sie über das Setzen von      
            Cookies informiert und Sie dies nur im Einzelfall erlauben.      
            Bei der Deaktivierung von Cookies kann die Funktionalität unserer Website eingeschränkt sein.</p>

        <h2>Google Maps</h2>
        <p>      Unsere Website verwendet Funktionen des Webkartendienstes „Google Maps“.     Der Dienstanbieter dieser Funktion ist:      </p>      
        <ul>      
            <li>      Google Ireland Limited Gordon House, Barrow Street Dublin 4. Ireland.      Tel: +353 1 543 1000      
            </li>      
        </ul>      
        <p>      Im Zuge der Nutzung von Google Maps ist es notwendig Ihre IP-Adresse zu      
            speichern und zu verarbeiten. Google überträgt in      
            der Regel an einen Server in den USA und speichert die Daten dort. Die Verarbeitung geschieht durch den      
            Diensteanbieter (oben genannt), der Betreiber dieser Homepage hat keinen      
            Einfluss auf die Übertragung der Daten.      </p>      
        <p>      Die Datenverarbeitung erfolgt auf Basis der gesetzlichen Bestimmungen des §      
            96 Abs 3 TKG sowie des Art 6 Abs 1 lit f (berechtigtes Interesse) der      
            DSGVO. Die Nutzung von Google Maps erhöht die Auffindbarkeit der Orte,      
            welche auf unserer Webseite bereitgestellt werden.      
        </p>      
        <p>      Weitere Informationen über den Umgang mit Nutzerdaten des Diensteanbieters      
            „Google“ können Sie der Datenschutzerklärung entnehmen:      
        </p>      
        <p>      
            <a href="https://policies.google.com/privacy?hl=de">      https://policies.google.com/privacy?hl=de      </a>      .      
        </p>      
        <p>      Google verarbeitet die Daten auch in den USA, hat sich jedoch dem      <br/>      EU-US Privacy-Shield unterworfen.      
        </p>      
        <p>      
            <a href="https://www.privacyshield.gov/EU-US-Framework">      https://www.privacyshield.gov/EU-US-Framework      </a>      
        </p>
        
        <h2>Ihre Rechte als Betroffener</h2>      
        <p>Sie als Betroffener haben bezüglich Ihrer Daten, welche bei uns gespeichert sind grundsätzlich ein Recht auf:</p>      
        <ul style="font-size: 0.95em;">
            <li>Auskunft</li>
            <li>Löschung der Daten</li>
            <li>Berichtigung der Daten</li>
            <li>Übertragbarkeit der Daten</li>
            <li>Wiederruf und Widerspruch zur Datenverarbeitung</li>
            <li>Einschränkung</li>
        </ul>      
        <p>Wenn sie vermuten, dass im Zuge der Verarbeitung Ihrer Daten Verstöße gegen das Datenschutzrecht passiert sind,       
            so haben Sie die Möglichkeit sich bei uns (nachhilfe.shamoon@gmail.com) oder der Datenschutzbehörde zu beschweren.
        </p>
        
        <h2>Sie erreichen uns unter folgenden Kontaktdaten:</h2>        
        <p><b>Webseitenbetreiber:</b> Andy Shamoon<br> 
            <b>Telefonnummer:</b> +436704025953<br> 
            <b>Email:</b> nachhilfe.shamoon@gmail.com
        </p>
        
        <p style="font-size: 10px;">Quelle: 
            <b><a href="https://advolist.at/spezialisierung/erbrecht/3/1">Advolist</a>
            </b> in Kooperation mit <b><a href="https://luxoshower.com">Luxoshower</a></b>
        </p>
    </div>
</div>
