<div class="titelbild">
    <img class="article-image" src="img/eltern.jpg" style="width: 100%; height: auto">
</div>
<div class="reiterinhalt">
    <div class="reitertext">
        <h1>Leistungen für Eltern</h1>
        <h2>Wir bilden Sie zum Nachhilfelehrer für Ihre Kinder aus.</h2>
        <p>
            Neben der herkömmlichen Nachhilfe ist es uns ein riesiges Anliegen, die Geldbörsen der Eltern zu entlasten. So eine Nachhilfe kann schon recht teuer werden, wenn man sich die Rechnung am Ende des Monats ansieht. Deshalb wirken wir gezielt gegen Betrug und unverhältnismäßig hohen Preisen im perfekten Einklang mit der Qualität. Dies schätzen unsere Kunden sehr. Aber nicht nur das. Sondern wir bieten professionelle Beratung für Eltern an, welche die Nachhilfe selbst in die Hand nehmen wollen und somit das Thema Nachilfe für immer beenden wollen.
        </p>
        <p>
            Es gibt einfache Konditionen:
        </p>
        <ul>
            <li>Pro Beratungseinheit (60 Minuten): € 14,99</li>
            <li>Es besteht keine Bindung, Sie können die Beratung jederzeit ohne Angabe von Gründen beenden.</li>
        </ul>
        <h2>Wo findet die Beratung statt?</h2>
        <p>
            Unsere Beratung findet vor Ort, Online, sowie in unseren Einrichtungen statt. Sie entscheiden, welche Option für Sie in Frage kommt. Folgendes ist aber zu beachten:
        </p>
        <ul>
            <li>Bei Beratung vor Ort innerhalb des 10. Bezirks: € 7,99 Aufschlag / Stunde.</li>
            <li>Bei Beratung vor Ort außerhalb des 10. Bezirks: € 12,99 Aufschlag / Stunde.</li>
            <li>Bei Beratung in unseren Einrichtungen: Keine Aufschläge.</li>
            <li>Bei Online Beratung: Keine Aufschläge.</li>
        </ul>
        <h2>Sind Sie interessiert?</h2>
        <p>
            Wenn Sie interessiert sind, dann senden Sie mir bitte eine Anfrage oder rufen Sie mich an! Ich werde mich umgehend mit Ihnen in Kontakt setzen!
        </p>
    </div>
</div>