<div class="reiterinhalt">

    <div class="reitertext">
        <h1>Impressum</h1>

        <h2>Allgemeines</h2>
        <p><b>Für diese Website verantwortlicher Herausgeber:</b> Hr. Andy Shamoon<br><br>
            <b>Rechtsform:</b> Einzelunternehmen<br>
            <b>Firmensitz laut Firmenbuch oder Standort der Gewerbeberechtigung:</b><br>
            Antonsplatz 18/1/22<br>
            1100 Wien<br>
            Österreich (Austria, Europe)<br><br>
        </p>
        <h2>Kontaktmöglichkeiten</h2>
        <p> 
            <b>Telefon:</b> +436704025953<br>
            <b>E-Mail:</b>  nachhilfe.shamoon@gmail.com<br>
            <b>Internet:</b> <a href="https://www.nachhilfeshamoon.at">www.nachhilfeshamoon.at</a><br><br>
        </p>
        <h2>Bankverbindung</h2>
        <p>
            <b>Bankname:</b> N26 Bank<br>
            <b>IBAN:</b> DE29 1001 1001 2625 0423 92<br>
            <b>BIC:</b> NTSBDEB1XXX<br><br>
        </p>

        <p>
            <b>Bildernachweis:</b>
            Alle Bilder sind aus der Webseite <a href="https://www.pexels.com">www.pexels.com</a> entnommen worden. Sämtliche Lizenzen entstammen der kostenlosen Lizenz<br><br>

            <b>Webdesign:</b> Fadi Shamoon, MSc. Der Entwickler übernimmt keine Haftung für sämtlichen Inhalt der Webseite.<br>
            <b>Webentwicklung:</b> Andy Shamoon.
        </p>

    </div>

</div>
