<div class="titelbild">
    <img src="img/schueler.jpg" style="width: 100%; height: auto">
</div>
<div class="reiterinhalt">

    <div class="reitertext">
        <h1>Leistungen für Schüler</h1>
        <h2>Wir finden das perfekte Lernpaket für Ihr Kind.</h2>
        <p>
            Wir bieten Nachhilfe für Schüler der Volksschule und Hauptschule (Neue Mittelschule), 
            sowie für die Unterstufe AHS. Die Nachhilfekonditionen sind sehr einfach gegliedert.
        </p>
        <h2>Lernpakete</h2>
        <ul>
            <li>Pro Lerneinheit (60 Minuten): € 14,90</li>
            <li>Die Abrechnung erfolgt Minutenweise. Das heißt 1 Minute entspricht: 0,25 Cent.</li>
            <li>Die Nachhilfe kann jederzeit von beiden Seiten ohne Angabe von Gründen beendet werden.</li>
        </ul>
        <h2>Wo findet die Nachhilfe statt?</h2>
        <p>
            Unsere Nachhilfe findet vor Ort, Online, sowie in unseren Einrichtungen statt. Sie entscheiden, welche Option für Ihr Kind in Frage kommt. 
            Folgendes ist aber zu beachten:
        </p>

        <h2>Wann wird die Nachhilfe teurer als 14,90/Stunde?</h2>
        <ul>
            <li>Bei Nachhilfe vor Ort innerhalb des 10. Bezirks: € 7,99 Aufschlag / Stunde.</li>
            <li>Bei Nachhilfe vor Ort außerhalb des 10. Bezirks: € 12,99 Aufschlag / Stunde.</li>
            <li>Bei Nachhilfe in unseren Einrichtungen: Keine Aufschläge.</li>
            <li>Bei Online Nachhilfe: Keine Aufschläge.</li>
        </ul>
        <h2>Sind Sie interessiert?</h2>
        <p>
            Wenn Sie interessiert sind, dann senden Sie mir bitte eine Anfrage oder rufen Sie mich an! Ich werde mich umgehend mit Ihnen in Kontakt setzen!
        </p>
    </div>

</div>