<div class="titelbild">
        <img class="reiterbild" src="img/start.jpg" style="width: 100%; height: auto">
    </div>
<div class="reiterinhalt">
    
    <div class="reitertext">
        <h1>Die richtige Mathematik Nachhilfe</h1>
        <h2>Mit uns schaffen Ihre Kinder die Schule</h2>
        <p>
            Sehr geehrte Eltern, Ihr Kind hat Schwierigkeiten in Mathematik? Ich habe vollstes Verständnis dafür! Nicht nur ist die Qualität der Lehrkräfte - 
            was das Erklären anbelangt - in den letzten Jahren sehr gesunken, sondern es scheint so als wäre es nicht wünschenswert, 
            dass Ihr Kind einen guten, oder auch sehr guten Erfolg erbringt.
        </p>
        <p>
            Es wird Eltern eingeredet, dass das Kind Schuld sei. Konzentrationsschwächen, Krankheiten und irgendwelche 
            Gründe werden als Vorwand dafür genommen, Sie davon zu überzeugen, dass Ihr Kind nicht fähig ist die Leistungen zu erbringen, 
            die notwendig sind. Dies mag zwar im Einzelfall stimmen, trifft aber in der Regel nicht zu. 
        </p>
        <h2>Faktum ist...</h2>
        <p>
            Kinder sind naturgemäß sehr lernfreudig. Das einzige Problem ist jedoch, dass viele Kinder sich schnell ablenken lassen, 
            wenn die Kinderbetreuung / die Lehrer/ die Eltern nachlässig werden. Unsere Aufgabe ist es nicht nur Ihrem Kind aus seiner Krise zu bringen, 
            sondern auch Ihr Kind aus der Nachhilfe herauszuführen, sodass es wieder selbstständig lernen kann. Wir sind Ihr zuverlässiger Partner!
            
            <br><br><i>Von Andy Shamoon.</i>
        </p>
    </div> 

</div>
