<div class="reiterinhalt">
    <div style="float: left; width: 100%;">
        <img style="background-color: #bdbdbd; float:left;width: 33%; margin-left: 33%; margin-right: 33%; height: auto; margin-top: 50px;" src="img/ich1.png" >
    </div>
    <div class="reitertext">
        <h1>Kurzes über mich</h1>
        <p>
            Sehr geehrte Eltern und Schüler. Mein Name ist Andy Shamoon und ich bin verheiratet und Vater von insgesamt 3 Kindern.
            ich biete Ihrem Kind professionelle Mathematik Nachhilfe zum Bestpreis an. Unsere Örtlichkeiten befinden sich in Wien Favoriten am Antonsplatz. 
            Die Nachhilfe kann auch bei Ihnen zu Hause*, oder online per ZOOM* stattfinden. Ich biete momentan ausschließlich Unterricht für
            die Schulstufen:<br/>
        </p>
        <ul>
            <li>Volksschule</li>
            <li>Hauptschule/Mittelschule</li>
            <li>Berufsschule</li>
        </ul>
        <p>
            In meinem Beruf konnte ich im Unterrichten langjährig Erfahrungen sammeln. Ich arbeite nebenbei selbstständig als Nachmittagslernbetreuer 
            für das Fach Mathematik an verschiedenen Mittelschulen und AHS (Mehr Details auf Anfrage).
            Ich freue mich darauf neue Wege einzuschlagen und nun auch außerhalb der Schuleinrichtungen Ihr Kind zu fördern und dadurch im Schulbereich 
            Entlastung zu schaffen.
        </p>
    </div>
</div>
