/*body {*/

/* Allgemein */
.material-icons {
    vertical-align: middle;
}

.mathematik-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #8bc34a;
}

.mathematik-navigation-active {
    border-bottom: 4px solid #8bc34a;
}

.mathematik-navigation-links {
    cursor: pointer;
}

.mathematik-logo-header {
    width: 30px;
    margin-right: 10px;
}

.mathematik-logo-sidenav {
    width: 60%;
}

.mathematik-content-image-wrapper {
    background-color: white;
    text-align: center;
}

.mathematik-content-grid {
    padding: 0;
}

.mathematik-content-image {
    width: 100%;
    height: auto;
}

.mathematik-background-color {
    background-color: #f3f3f3;
}

.mathematik-sidenav {
    text-align: center;
    padding-top: 10px;
    background-color: white;
}

/* Kontakt Seite */

.mathematik-header form {
    margin: auto;
}

.mathematik-header-max-width {
    max-width: 100%;
    margin: auto;
}

.mathematik-header .mdl-textfield {
    width: 100%;
}

.mdl-layout__header .mdl-layout__drawer-button {
    background-color: #F3F3F3;
}

.mdl-grid {
    padding: 0;
}

.mathematik-content-width {
    width: 60%;
}

.p {
    text-align: justify;
}

/**** Mobile layout ****/
@media (max-width: 900px) {
    .mathematik-mobile-title {
        display: none !important;
    }
}